
h2
{
	width    	        : 80%;
	font-family       	: 'zenzai', "Courier New", "Lucida Console";
	font-size         	: 40px;
    letter-spacing      : 4px;   
	font-weight       	: bold;
	text-align			: center;
	color				: white;
	text-shadow			: -1px 2px 10px black;
}

.airJeux
{
    width    	        : 80%;
    text-align: center;
}
.explication
{
    border: 3px solid black;
    border-radius: 15px;
    width:300px;
    display: block;
    padding: 15px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, .5)
}

#randmot
{
    border: 3px solid black;
    border-radius: 10px;
    width:200px;
    display:block;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;
}

.lettre
{
    border: 2px solid black;
    border-radius: 5px;
    height:auto;
    width: auto;
    max-width: 200px;
    display:inline-block;
    padding: 5px;
    font-size: 15px;
    margin: 5px;
    margin-top: 15px;
    vertical-align: top;
    background-color: rgba(255, 255, 255, .5)
}


h4
{
    text-align: center; 
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    position: relative;
    top:-20px;
    width: 30px;
}

.activiteNiv2
{
    font-size: 10px;
}
