.linePaveLien
{
    height:auto;
    padding: 30px 0 0 10px;
    text-align: center;
    margin-left: 5%;
    margin-right: 20%;
    
}


.paveLien 
{    
	position				: relative;
	border					: 3px solid black;
    background-color: rgba(255, 255, 255, .8);
	-webkit-border-radius	: 10px;
	-moz-border-radius		: 10px;
	border-radius			: 10px;
	display					: inline-block;
	max-width				: 400px;
    min-width               : 200px;
    width                   : 30%;
	height					: 120px;
	text-decoration			: none;
	z-index					: 1;
    margin: 1%;
    text-align: left;
    overflow: auto;
 }

.paveLienTotal
{    
	position				: relative;
	top						: 30px;
	left					: 10px;
	border					: 3px solid black;
	-webkit-border-radius	: 10px;
	-moz-border-radius		: 10px;
	border-radius			: 10px;
	display					: inline-block;
    width                   : 40%;
	height					: 120px;
	text-decoration			: none;
	z-index					: 1;
    margin: 1%; 
 }
 
.logoPaveLien 
{
	position				: absolute;
	z-index					: 2;
	right					: 5%;
    font-size:              300%;
	top						: 10px; 
	color					: black; 
    height:80%;
    width:30%;
    z-index: 5;
    text-align: right;
}

.logoPaveLien svg
{
    position: relative;
    right: 0px;
    width: 80%;
}

.numberButtonLicence 
{
	position				: absolute;
	font-size				: 40px;
	font-weight				: bold;
	left					: 20px;
	top						: 15px;
	color					: black;
}

.labelpaveLien 
{
	position				: absolute;
	font-size				: 200%;
	left					: 20px;
	top						: 10px;
	color					: white;
    z-index: 20;
    text-shadow: 8px 5px 10px black, -1px 1px 0px grey, 1px -1px 0px grey, -1px -1px 0px grey ;
    width: 80%;
    overflow:hidden;
}


.petitLabel
{
    font-size:15px !important;
	color					: black;
    margin-top: 10px;
    z-index:200;
    text-shadow: 2px 2px 10px white;
}

.grpListePave
{
    padding-top: 10px;
}

.listePave, .listePave2
{
    list-style: url("../images/puceKCB.png");
    margin-left: 25px;
}

.listePave a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.listePave2 a
{
    text-decoration: none;
    color: grey;
}

.notEnable a
{
    color:lightgrey;
}

.notEnable a::after
{
    content: " indisponible";
    color:lightgrey;
    font-weight: bold;
}