.chapitre
{
    height:auto;
    min-height: 280px;
    border: 5px solid black;
    border-radius:20px;
    margin:30px;
    padding:2%;
    overflow: auto;
    background-color: rgba(255, 255, 255, .5);
}

.chapitreII
{
    text-decoration: none;
    color: black;
    display:block;
    height:auto;
    border: 2px solid black;
    border-radius:20px;
    margin:10px;
    padding:2%;
    overflow: auto;
}

.articleContent
{
    text-decoration: none;
    color: black;
    display:block;
    height:auto;
    border: 2px solid black;
    border-radius:20px;
    margin:10px;
    width: 60%;
    padding:2%;
    overflow: auto;
}

.image-article
{
    height: 190px;
    width:140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.contener-image-article
{
    float:left;
    height: 200px;
    width: 160px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.contener-image-article-corp
{
    width: 100%;
    padding-right: 10px;
    text-align: center;
}

figcaption
{
    font-size: 10px;
}

.keyWords
{
   text-decoration: none;
    color: black;
    display:block;
    height:auto;
    border: 2px dotted black;
    border-radius:20px;
    margin:10px;
    width: 23%;
    padding:1%;
    overflow: auto;
    position:fixed;
    flex:right;
    top:220px;
    right:6%;
    text-align:center;
}

.oneKeyWord
{
    display: inline-block;
    margin: 2px 5px;
    cursor: pointer;
}

.idKeyWord
{
    display: none;
}

.chapitreIII
{
    text-decoration: none;
    color: black;
    display:block;
    height:auto;
    border: 1px dotted black;
    border-radius:20px;
    margin:5px;
    padding:2%;
    overflow: auto;
}


li
{
    list-style: url("../images/puceKCB.png");
    margin: 0 0 0 12%;
}

.retourlist
{
    margin-left: 15px;
    margin-top: 80px;
}

.h2View
{
  width             : 80%;
  left              : 0px;
  top               : -10px;
  position          : relative;
  Z-index 			: 100;
  font-family       : 'zenzai', "Courier New", "Lucida Console";
  font-size         : 40px;
  letter-spacing      : 4px;   
  font-weight       : bold;
  text-align		: left;
  color				: white;
  text-shadow		: -1px 2px 10px black;
}

.h3View
{
    margin: 15px 0 20px 0px;
}

.h4View, .resumeArticle h4
{
    margin: 10px 0 10px 3%;
}

.h4Comment
{
    margin: 0;
}

.chapitreIV
{
    margin: 10px 0 0 10px;
}

.selected
{
    font-weight: bold;
}

p
{
    margin: 5px 30px 10px 5%;
}
#resume, #commentaire
{
	height: 100px;
}

.group
{
	margin: 20px;
}

button
{
    margin: 10px;
    padding: 5px 20px;
    width: 150px;
    font-size:20px; 
    cursor:pointer;
}

#soumettre, #publier
{
    background-color: white;
    border-color: black;
}

.annuler
{
    background-color: black;
    border-color: grey;
    color : white;
}


.grpMotCle, .grpCategory
{
  border:1px solid #bdbcbc;
  padding: 2px 10px;
  text-align:left
}

.h5motCle, .h5Category
{
  margin:10px 0;  
  font-size:20px;
}

.exposant
{
  font-size:8px;
  position:relative;
  top:-5px;
}

.inputMotCle
{
  display:inline-block;
  margin:0 13px;
  border: 1px dotted #bdbcbc;
  width:180px
}


.formModif
{
  display:block;
  font-size:10px;
  text-align:right;
  width:100%;
  position:relative;
  top:15px;
  cursor:pointer;
}



button.ql-showHtml:after 
{
    content: "<code>";
    font-size: 12px;
}