.chapitre
{
    height:auto;
    border: 5px solid black;
    border-radius:20px;
    margin:30px;
    padding:2%;
    overflow: auto;
}


.h2View
{
  width             : 80%;
  left              : 0px;
  top               : -10px;
  position          : relative;
  Z-index 			: 100;
  font-family       : 'zenzai', "Courier New", "Lucida Console";
  font-size         : 40px;
  letter-spacing      : 4px;   
  font-weight       : bold;
  text-align		: left;
  color				: white;
  text-shadow		: -1px 2px 10px black;
}

.labelChoix
{
    display: block;
}


.yellow
{
    background-color:#FFFE54;
}

.oranges
{
    background-color:#EE833F;
}

.green
{
    background-color: #31B82E;  
}

.blue
{
    background-color: #5181FF;
}

.brown
{
    background-color: brown;
    color:white;
}


.conteneurImageProg
{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    width:80%;
}

.imageProg
{
    width:100%
}

table{
    border-collapse: collapse;    
}

th
{
    border-bottom:1px solid black;
    padding:5px;
    width: 200px;
}

td
{
    padding:10px
}

.withBorder
{
    border-right:1px solid black;
}

.tableauCoup
{
    border: 2px solid black;
    padding:0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 800px;
    height: auto;
    overflow:hidden;
}

.autresAcquis
{
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 400px;
    
}

.listNiv1
{
    list-style: url("../images/puceKCB.png");
    margin-left: 12%;
    padding-top: 10px;
}

.listNiv2
{
    list-style: url("../images/puceKCB.png");
    margin-left: 20%;
    padding-bottom: 0px;
}

#choixCeinture
{
    background-color:#FFFE54;
}

.barre
{
    color:gainsboro;
    text-decoration: line-through;
}