

.categorySmall
{
    width:60%;
    clear: both;
}

.categoryBig
{
    width:100%;
}

.fieldGroup100
{
    width:95%;
}

.fieldGroup50
{
    width:45%;
}

.fieldGroup60
{
    width:60%;
}

.fieldGroup30
{
    width:30%;
}

H4
{
    width:100%;
    border: 2px solid black;
    border-radius : 0px 15px 0px 15px;
    text-align: center;
    background: linear-gradient(to left,#adacac, white, #adacac);
}
.fieldGroupAdress
{
    height: 130px;
}

.fieldGroupVille, .fieldGroupFixePhone
{
    position: relative;
    float: right;
    right: 15px;
    top:-52px;              
}

.fieldGroupGrade
{
    position: relative;
    float: right;
    right: -20px;
    top:-80px;              
}

.fieldGroup
{
    margin: 20px;
    /*border:1px solid red*/
}
.fieldSubGroup
{
    margin-top: 10px;
    /*border:1px solid blue*/
}

.fieldLabel
{
    display: block;
}

.fieldText, .fieldNumber, .fieldBirthday, .fieldPhone, .fieldEMail, .fieldSelect
{
    width:95%;
    height:20px;
    background-color: rgba(255,255,255,.5)
}

.fieldInfo 
{
    border:none;
    border-bottom: 1px dotted black;
    background-color: rgba(255,255,255,.1)

}

.fieldFiliation
{
    border: none;
    background-color: rgba(255,255,255,.1)

}

.LabelAssurance
{
    position: relative;
    top:-30px;
    left:10px;
}

.LabelCheckbox
{
    position: relative;
    left:0px;
    top:-10px;
}

.checkboxAssurance
{
    position: relative;
    top:30px;
}
.fieldCheck
{
    position: relative;
    top:20px;
}

.fieldLabelAssurance
{
    margin-bottom: 30px;
}

.buttonGroup
{
    position: relative;
    margin: auto;
    text-align: center;
    width:auto;
}

button
{
    margin: 10px;
    padding: 5px 20px;
    width: 150px;
}

.fieldButton
{
    font-size:20px;
    
}

#validate
{
    background-color: white;
    border-color: black;
}

#cancelled
{
    background-color: black;
    border-color: grey;
    color : white;
}

.fieldRequired .fieldLabel:after 
{ 
    content:"*"; 
    color: red;
}

p
{
    display: inline-block;
}


.subCombatRight
{
    position: relative;
    padding-top: 10px;
    left:40px;
}

.fieldGroupCompetition
{
    height: auto;
}

p
{
    width: 90%;
    
    position: relative;
    right:0px;
}

.white
{
    background-color: white;
}

.yellow
{
    background-color:yellow;
}

.orange
{
    background-color:orange;
}

.green
{
    background-color: forestgreen;    
    color:white;
}

.blue
{
    background-color: blue;
    color:white;
}

.brown
{
    background-color: brown;
    color:white;
}

.black
{
    background-color: black;
    color: white;
}

.liAssurance
{
    padding-left: 30px;
}

select
{
    height: 21px;
}

#FieldAdress
{
    width: 98%;
    height:23px;
}