/* init */


#airedejeux
{
    display: inline-block;
    flex:left;    
    width             : 420px;
    height            : 670px;
    margin:10px;
    padding :1px;
    vertical-align: center;
}

#gardecombat
{
    width             : 400px;
    height            : 650px;
    left              : 0px;
    top               : 0px;
    position          : relative;
    margin:             auto;
    overflow          : hidden;
    Z-index 			: 10;
    border-radius: 10px;
    border : 3px solid black;
}

#garde
{
  width             : 400px;
  height            : 650px;
  left              : 0px;
  top               : 0px;
  position          : relative;
}

#retour
{
	left              	: 0px;
	top	            	: 0px;
	position          	: absolute;
	Z-index 			: 100;
}


.title
{
  width             : 420px;
  left              : 0px;
  top               : 0px;
  position          : absolute;
  Z-index 			: 100;
  font-family       : 'zenzai', "Courier New", "Lucida Console";
  font-size         : 20px;
  letter-spacing     : 4px;   
  font-weight       : bold;
  text-align		: center;
  color				: white;
  text-shadow			: -1px 2px 10px black;
    margin:10px;
    padding :10px 1px 1px 1px;
}


.title2
{
  width             : 420px;
  left              : 0px;
  top               : 0px;
  position          : absolute;
  Z-index 			: 100;
  font-family       : 'zenzai', "Courier New", "Lucida Console";
  font-size         : 20px;
  letter-spacing     : 4px;   
  font-weight       : bold;
  text-align		: center;
  color				: white;
  text-shadow			: -1px 2px 10px black;
    margin:0px;
    padding :10px 1px 1px 1px;
}

#compteur
{
  width             : 420px;
  left              : 0px;
  top               : 43px;
  position          : absolute;
  Z-index 			: 100;
  font-family       : Verdana, "Courier New", "Lucida Console";
  font-size         : 14px;
  font-weight       : normal;
  text-align		: center;
  color				: white;
    margin:10px;
    padding :10px 1px 1px 1px;
}


#commande
{
  width             : 400px;
  height			: 20px;
  left              : 0px;
  top	            : 598px;
  position          : absolute;
  Z-index 			: 100;
  
}

#contenu
{
	width       : 400px;
	height		: 40px;
	display		: block;
	margin 		: auto;
    margin: 0px 0px 20px 20px;
    padding-bottom: 20px;
    text-align: center;
}



.button
{
font-size         	: 20px;
border-radius		: 8px;
color				: black;
background-color	: white;
border				: 1px solid black;
margin				: 2px 2px 20px 2px;
padding				: 6px 15px;
width				: 100px;
box-shadow: -3px 5px grey;
}

.button:hover {background-color: grey}

.button:active {
  background-color: grey;
  box-shadow: -1px 1px black;
  transform: translateY(4px) translateX(-1px);
}

#coup
{
    width             : 400px;
    height			: 15px;
    top	            : 630px;
    position          : absolute;
    font-family       : Verdana, "Courier New", "Lucida Console";
    font-size         : 14px;
    font-weight       : normal;
    text-align		: center;
    color				: white;
    Z-index 			: 100;
    margin: 10px 10px 20px 10px;
    padding: 1px 1px 5px 1px;
}

#notice
{
    display:inline-block;
    flex:right;
    position: relative;
    z-index: 900;    
    width             : 420px;
    height            : auto;
    border:3px solid black;    
    border-radius: 10px;
    text-align: center;
    background-color: rgba(255,255,255, 0.65);
    margin:10px;
    padding :70px 10px 20px 10px;
    vertical-align: top;
}