.chapitre
{
    height:auto;
    border: 5px solid black;
    border-radius:20px;
    margin:30px;
    padding:2%;
    overflow: auto;
}

.chapitre p:first-letter
{
    font-family       : 'zenzai', "Courier New", "Lucida Console";
    font-weight: bolder;
    letter-spacing: 3px;
    font-size:20px;
    margin-bottom: -5px;
}

.carte
{
    display: inline-block;
    border: 2px solid black;
    width: 600px;
    height: 450px;
}

.texteAdresse
{
    display: inline-block;
    border: 2px solid black;
    height: auto;
    position: relative;
    top:-300px;
    margin-left:20px;
    padding:5px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.realAdress
{
    display: block;
    margin: 10 0 15 0;
    
}

.hrAdresse
{
    margin: 10 40 15 40;
    border: 1px solid black;
}

.texteAdresse p:nth-child(1)
{
    margin-bottom: 10px;
}

.listeValeur
{
    list-style: url("../images/puceKCB.png");
    margin: 0 0 0 12%;
}


.h2View
{
  width             : 80%;
  left              : 0px;
  top               : -10px;
  position          : relative;
  Z-index 			: 100;
  font-family       : 'zenzai', "Courier New", "Lucida Console";
  font-size         : 40px;
  letter-spacing      : 4px;   
  font-weight       : bold;
  text-align		: left;
  color				: white;
  text-shadow		: -1px 2px 10px black;
}

.h3View
{
    margin: 15px 0 20px 0px;
}

.h4View
{
    margin: 10px 0 10px 3%;
}

p
{
    margin: 20px 30px 25px 5%;
    text-indent: -20px;
    line-height: 15px;
}

.ligne
{
    display: block;
    width:650px;
    text-align: center;
}

.fichIdentit
{
    display: inline-block;
    border: 3px solid black;
    border-radius: 10px;
    margin:10px;
    padding:0px;
    overflow: hidden;
    width: 280px;
}

.fichIdentit h3
{
    text-align: center;
    background-color: black;
    color: white;
    height: 30px;
    padding-top:20px;   
    margin-bottom: 0 0 10px 0;
    display:block;
}

.photoIdentit
{
    height:150px;
    width:100px;
    margin-top: 10px;
}

.column
{
    display:inline-block;
    height:170px;
    width:120px;
    border:1px solid black;
    border-radius: 5px;
    vertical-align: middle;
    margin: 5px;
}

.gauche
{
    display:inline-block;
    flex:left;
}

.droite
{
    display:inline-block;
    flex:right;
}

.alone
{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

table{
    border-collapse: collapse;
    border-bottom: 1px solid black;
}


tr, th, td
{
    text-align: center;
    border-right: 1px solid black;
}

thead tr
{
    height: 20px;
}

tbody tr
{
    height: 8px;
}


th
{
    width:150px;
    border-bottom: 1px solid black;
}

th:nth-child(1)
{
    width:auto !important;
}

.heure
{
    text-align: right;
    padding-right: 5px;
}

.ligneTable
{
    border-bottom: 1px dotted grey;
}

.ligneTableVide

{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}


.listepres
{
    margin-top: -25px;
}

.coursKarate
{
    Border: 1px solid black;
}


.coursBabys
{
	background-color: #fdff00;
}

.coursTous
{
	background-color: #c600ff;
}
.coursLoisir
{
	background-color: #ffae00;
}
.coursCompetition
{
	background-color: #ff4300;
}
.coursAdultes
{
	background-color: #fd0000;
}
