.question
{
    display:block;
    background-color: white;
    border:3px solid black;
    border-radius: 20px;
    box-shadow: -5px 8px 5px gray;
    width: 50%;
    min-width: 300px;
    height: auto;
    margin:20px;
    padding: 10px;
}

.question > h3
{    
    display:inline-block;
}

input{
    margin:5px;
}

.texte
{
    display:inline-block;
    width:80%;
    height:auto;
    padding-top:0px;
}

.texte h4
{
    margin: 10px 0 20px 0;
}

.conteneurImg
{
    display:inline-block;
    width:15%;
    height:auto;
    padding-top:50px;
    float:right;
}

.icon
{
    display:inline-block;
    position: relative;
    top:0px;
}

.reponse
{
    position: relative;
    bottom: 0px;
    display:block;
    width:100%;
    margin-top:10px;
}

.forImg
{
    position:relative;
    top:-40px;
}


.imgReponse
{
    width: 80px;
    height:80px;
}

h2
{
	width    	        : 800px;
	font-family       	: 'zenzai', "Courier New", "Lucida Console";
	font-size         	: 40px;
    letter-spacing      : 4px;   
	font-weight       	: bold;
	text-align			: center;
	color				: white;
	text-shadow			: -1px 2px 10px black;
}

h3
{
	font-family       	: Verdana, "Courier New", "Lucida Console";
	font-size         	: 25px;
	text-decoration    	: underline wavy black;
}

#retour
{
	left              	: 0px;
	top	            	: 0px;
	position          	: absolute;
	Z-index 			: 100;
}

	
.boutton
{
	font-size         	: 15px;
	border-radius		: 8px;
	color				: black;
	background-color	: white;
	border				: 1px solid black;
	margin				: 2px;
	padding				: 3px 10px;
	width				: 100px;
	box-shadow: -3px 5px grey;
}

.boutton:hover {background-color: grey}

.boutton:active {
  background-color: grey;
  box-shadow: -1px 1px black;
  transform: translateY(4px) translateX(-1px);
}

ul
{
    margin:0;
    margin-left: 10px;
}
