/* ElÃ©ments principaux de la page */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

@font-face{
    font-family: "zenzai";
	src: url('../font/zenzai_itacha/Zenzai Itachi.ttf');
}

*
{
    margin:0;
    padding:0;
}

body
{
    background-color		: #FFF;
    font-family				: 'Roboto Condensed', Arial, sans-serif;   
    color					: black;
    height					: 90vh;
    background-image: url(../images/kcb.png);
    background-repeat: no-repeat;
    background-position:center;
}

/* Style du header */

header 
{
	display					: flex;
    font-family				: 'zenzai', Arial, sans-serif;
    font-size               : 20px;
    letter-spacing          : 2px;       
	position				: fixed;
	background-color		: #ffffff;
	height					: 60px;
	width					: 100%;
	top						: 0px;
	left					: 0px;
	z-index					: 800;
	border-bottom :2px solid #000000; 
    
}

.titleHeader
{
	position				: relative;
	left					: 80px;
    padding: 0px;
	align-self				: center;
    width:80%;
    font-size:100%
}
.lienTitle
{
    padding: 0;
    margin: 0;
    font-size:90%;
    width: 80%
}

.headerPrincipal
{
   position:fixed;
	top:10px;
	right:20px;
	z-index:900; 
	text-align:right;
}

.headerChild
{
	border-bottom:2px solid black;
	border-left:2px solid black;
	margin-top:10px;
	padding: 0 10;
	position:relative;
	right:-20px;
    background-color: white;
}

.headerUl, .headerIl
{
	list-style: none !important;
	margin:0 !important;
	padding:0 !important;;
}
.headerChild a 
{
	text-decoration: none;
	color:black;
	margin:0;
	padding:0;
}


.switchNav{
	position:fixed;
	top:10px;
	left:20px;
	z-index:900;
}

/* Style du navBar */

nav 
{
	position				: fixed;
	display					: block;
	top						: 60px;
	left					: 0px;
	background				: #fff;
	border-right            : 2px solid #000000;
	color					: #545454;
	font-family: 'Roboto Condensed', Arial, sans-serif;
	width					: 80px;
	height					: 100%;
	z-index					: 100;    
}

.navButton
{
	position				: relative;
	top						: 30px;	
}
    
.navPrinc
{
	display: block;
	margin-bottom:10px;
	padding-bottom:20px;
}
 

.navLogo svg
{
	display:block;
    position: relative;
    margin-left:auto;
    margin-right: auto;
}
.navText 
{
	display                 : block;
    font-size				: 12px;
	margin-left				: auto;
	margin-right			: auto;
	width					: 60px;
	text-align				: center; 
}

.navChild{
   display:none;
    font-size: 10px;    
	position: relative;	
	margin-left: 5px;
    padding: 0px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    line-height: 1.5;
}

ul{
	list-style: none;
	margin-left: 0;
    padding-left: 0;
}

.navLink {
    color: black;
    text-decoration: none;
	padding-top: 5px;
	display: block;
	font-size: 12px;
}

.niv1
{
	padding-left:5px;
	font-size: 12px;
}

.niv2
{
	padding-left:15px;
	font-size: 10px;
}

.symboleCeinture
{
    font-size: 20px;
}

.ceintureJaune
{
	color:#f2f20b !important;
}

.ceintureOrange
{
	color:orange !important;
}

.ceintureVert
{
	color:green !important;
}

.ceintureBleu
{
	color:blue !important;
}

.ceintureMarron
{
	color:saddlebrown !important;
}

.navButton{
    cursor: pointer;
    color: black; 
    padding-top:5px;
}

.navButton:hover
{
	background-color: white;
	width: 200px;
	border-radius:5px 50px 50px 5px / 5px 60px 60px 5px;
    text-transform: uppercase;
    box-shadow:8px 5px 12px black
}

.navButton:hover  .navLogo
{
   display:block;
   padding:0px;
   width:80%;
}

.navButton:hover  .navLogo .navText
{
   display:block;
   padding:0px;
   width:100%;
   font-size:18px;
   font-weight:bold;
}

.navButton:hover  .navChild
{
	display:inline-block;
}

.navHide, .headerHide
{
    display:none;
}



/* Style du footer */

footer 
{
	display					: flex;
	position				: fixed;
	right					: 0px;
	bottom					: 0px;
	background-color		: white;
    border-top              :2px solid #000000;
	height					: 50px;
	width					: 100%;
	z-index					: 800; 
}

footer img 
{
	display					: block;   
	bottom					: 0px;
	right					: 15px;
}

.logofooter 
{
	position				: absolute;
	align-self				: center;
	font-size				: 30px;
	z-index					: 2;
    height                  :50px;
}


/* Style de centre */

#corps
{
	position				: relative;
	left					: 0px;
	top						: 60px;
	width					: 100%;
	height					: 90vh;    
	padding			         : 0px;
    margin: 0px;
    overflow-x: auto;
    background-color: rgba(255,255,255, .85);
    /*border :1px solid red;*/
    
}

.lienTitle
{
    text-decoration: none;
    color:black;
}

.navNotEnable
{
    color:lightgray;
}

.navNotEnable::after
{
    content: " indisponible";
    color:darkgray;
}

.pub
{
    font-size: 8px;
    position:relative;
    height: 80px;
    text-align: center;
    z-index:800;
    margin-left: auto;
    margin-left: auto;
    margin-top:280%
    
}