
h2
{
	width    	        : 80%;
	font-family       	: 'zenzai', "Courier New", "Lucida Console";
	font-size         	: 40px;
    letter-spacing      : 4px;   
	font-weight       	: bold;
	text-align			: center;
	color				: white;
	text-shadow			: -1px 2px 10px black;
}


h3
{
    margin: 15px 0 20px 10px;
    font-size: 20px;
}


h4
{
    padding-top: 5px;
    padding-bottom: 10px;
    letter-spacing      : 3px;  
    background-color: black;
    color: white;
}

.redText
{
    color: red;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sectionVid, .sectionKata
{
    margin: 10px;
    border:4px solid black;
    border-radius: 20px;
    padding:50px;
    width: 80%;
    
}

.sectionExplication
{
    margin: 10px;
    border:4px solid black;
    border-radius: 20px;
    padding: 50px 50px 0px 50px;
    width: 80%;
    
}

.contenerVideo
{
    display: inline-block;
    margin: 20px;
    border:2px solid black;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}